[submodule "Lib/SwiftyJSON"]
	path = Lib/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Lib/Alamofire"]
	path = Lib/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Lib/Async"]
	path = Lib/Async
	url = https://github.com/duemunk/Async.git
