#!/bin/bash

# Standard app config
export APP_NAME="Verb"
export DEVELOPER_NAME=iPhone Developer: William Porta (F7L5MLW335)
export PROFILE_NAME=verbtravis
export INFO_PLIST=Verb/Info.plist
export BUNDLE_DISPLAY_NAME=Verb Travis
export APP_KEYCHAIN="ios-$APP_NAME-build.keychain"
export ORIGINAL_KEYCHAIN=`security default-keychain | sed -e 's/^ *//' -e 's/ *$//' | tr -d '"'`

# Edit this for local testing only, DON'T COMMIT it:
export ENCRYPTION_SECRET=...
export KEY_PASSWORD=...
export TESTFLIGHT_API_TOKEN=...
export TESTFLIGHT_TEAM_TOKEN=...
export TESTFLIGHT_DISTRIBUTION_LIST=...

export HOCKEY_APP_ID=...
export HOCKEY_APP_TOKEN=...

# This just emulates Travis vars locally
export TRAVIS_PULL_REQUEST=false
export TRAVIS_BRANCH=master
export TRAVIS_BUILD_NUMBER=$(date +%s)
